@model SingleTicketModel;
@using BugTracker.Data;
@using BugTracker.ProjectServices;
@inject UserManager<ApplicationUser> UserManager
@inject ProjectService service
@{
    ViewData["Title"] = @Model.ticket.Title;
}

<section class="single-ticket">
    <div class="card">
        <h2 class="card__header">@Model.ticket.Title</h2>
        <div class="card__body">
            <div class="card__group-container">
                <div class="card__group">
                    <p class="card__group-title">Assigned by:</p>
                    <p>@ViewData["FullName"]</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Project:</p>
                    <p>@service.getProjectById(Model.ticket.ProjectID).Title</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Date Created:</p>
                    <p>@Model.ticket.DateCreated</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Type:</p>
                    <p>@Model.ticket.Type</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Priority:</p>
                    <p>@Model.ticket.Priority</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Description:</p>
                    <p>@Model.ticket.Description</p>
                </div>
            </div>

            <form asp-controller="SingleTicket" asp-action="UploadFile" method="post"  
            enctype="multipart/form-data" class="form">  
                <div class="form__group">
                    <input id="file" type="file" name="file" class="inputfile"/>
                    <label for="file"><span>Choose a file</span></label>
                </div>
                <div class="form__group">
                    <button type="submit" class="form__btn">Upload File</button>
                </div>
                <input type="hidden" name="ticketID" value="@Model.ticket.TicketID"/>    
           </form>
           @if (@Model.UploadMessage == "Incorrect ext")
           {
           <p>File extension not accepted. <br> Accepted file extensions are: .txt, .pdf, .doc, .docx, .xls,
                    .xlsx, .png, .jpg, .jpeg, .gif, .csv, .css, .html, and .json.
           </p>
           }
           @foreach(var filePath in Model.ticket.FilePaths)
           {
               <div>
                   <a asp-action="GetContent" asp-controller="SingleTicket" asp-route-fileID="@filePath.ID" target="_blank">@filePath.UnhiddenPath.Split("\\")[1]</a>
               </div>
           }
           <form class="form" asp-controller="SingleTicket" asp-action="DeleteTicket" method="post">
               <input type="hidden" name="ticketID" value="@Model.ticket.TicketID"/>
               <button type="submit" class="form__btn">Delete Ticket</button>
           </form>
        </div>
    </div>
</section>


