@using BugTracker.Models;
@model MyProjectsModel;
@{
    ViewData["Title"] = "My Projects";
    var prevDisabled = !Model.paginatedProjects.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.paginatedProjects.HasNextPage ? "disabled" : "";
}

<section class="card my-projects">
        <header class="card__header">
            <h2>Projects</h2>
        </header>
            
        <div class="card__body">
            <form asp-action="Index" class="form">
                <div class="form__group">
                    <label class="form__label" for="Title">Find by Title</label>
                    <input class="form__input" id="Title" type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Title"/>
                </div>
                <button id="TitleSubmit" type="submit" class="form__btn">Search</button>
            </form>
            
            @foreach(var project in Model.paginatedProjects)
            {
             <div class="project">
                <div class="project__container">
                    <div class="card__group">
                        <p class="card__group-title">Title:</p> 
                        <p>@project.Title</p>
                    </div>
                    <div class="card__group">
                        <p class="card__group-title">Central Focus:</p> 
                        <p>@project.CentralFocus</p>
                    </div>
                    <div class="card__group">
                        <p class="card__group-title">Description:</p> 
                        <p>@project.Description</p>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                    <form asp-controller="MyProjects" asp-action="DeleteProject" method="post" class="form">
                        <input type="hidden" name="projectID" value="@project.ProjectID"/>
                        <button type="submit" class="form__btn">Delete Project</button>
                    </form>
                    } 
                </div>
             </div>
            }
                
            <a asp-action="Index"
            asp-route-pageNumber="@(Model.paginatedProjects.PageIndex - 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="form__link mr-small @prevDisabled">
            Previous
            </a>
            <a asp-action="Index"
            asp-route-pageNumber="@(Model.paginatedProjects.PageIndex + 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="form__link @nextDisabled">
            Next
            </a>
        </div>
</section>

