
@model MyTicketsModel;
@{
    ViewData["Title"] = "My Tickets";
    Layout = "/Views/Shared/_Layout.cshtml";
    var prevDisabled = !Model.Tickets.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Tickets.HasNextPage ? "disabled" : "";
}
    <div class="create-ticket">
    <section class="card">
        <header class="card__header">
            <h2>Create New Ticket</h2>
        </header>
            
        <div class="card__body">
            <form asp-action="CreateNewTicket" method="post" class="form">
                <div class="form__group">
                    <label for="ddlprojects" class="form__label">Project</label>
                    <div class="select-dropdown">
                        <select id="ddlprojects" asp-items="@(new SelectList(Model.ProjectModel, "ProjectID", "Title"))" name="projectId" onchange="javascript:GetUsers(this.value);">
                        </select>
                        <span class="select-dropdown__arrow"></span>
                    </div>
                </div>

                <div class="form__group">
                    <label for="ddlusers" class="form__label">Assign to</label>
                    <div class="select-dropdown">
                        <select id="ddlusers" name="userId">
                        </select>
                        <span class="select-dropdown__arrow"></span>
                    </div>
                </div>

                <div class="form__group">
                    <label for="type" class="form__label">Type</label>
                    <div class="select-dropdown">
                        <select name="Type" id="type">
                            <option selected>Choose a ticket type</option>
                            <option>Bug</option>
                            <option>Feature</option>
                            <option>Enhancement</option>
                        </select>
                        <span class="select-dropdown__arrow"></span>
                    </div>
                </div>

                <div class="form__group">
                    <label for="title" class="form__label">Title</label>
                    <input type="text" class="form__input" name="Title" id="title"/>
                </div>

                <div class="form__group">
                    <label for="description" class="form__label">Description</label>
                    <textarea id="description" class="form__input" name="Description" rows="1"></textarea>
                </div>

                <div class="form__group">
                    <label for="priority" class="form__label">Priority</label>
                    <div class="select-dropdown">
                        <select name="Priority" id="priority">
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                        <span class="select-dropdown__arrow"></span>
                    </div>
                </div>

                <button class="form__btn" type="submit">Submit</button>
            </form>
        </div>
    </section>
    </div>

    <div class="assigned-tickets">
    <section class="card">
        <header class="card__header">
            <h2>My Tickets</h2>
        </header>
         
        <div class="card__body">
            @foreach(var ticket in Model.Tickets)
            {
            <div class="card__group-container">
                <div class="card__group">
                    <p class="card__group-title">Title:</p>
                    <p>@ticket.Title</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Assigned By:</p>
                    <p>@Model.GetUserFullNameById(ticket.AssignedByID)</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Project:</p>
                    <p>@Model.GetProjectTitleById(ticket.ProjectID)</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Date Created:</p>
                    <p>@ticket.DateCreated</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Type:</p>
                    <p>@ticket.Type</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Priority:</p>
                    <p>@ticket.Priority</p>
                </div>
                <div class="card__group">
                    <p class="card__group-title">Description:</p>
                    <p>@ticket.Description</p>
                </div>
            </div>
                
            <a class="form__link block" asp-controller="SingleTicket" asp-action="Index" asp-route-id="@ticket.TicketID">Full Ticket</a>
            }
                
            <a asp-action="Index"
            asp-route-pageNumber="@(Model.Tickets.PageIndex - 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="form__link mr-small @prevDisabled">
            Previous
            </a>
            <a asp-action="Index"
            asp-route-pageNumber="@(Model.Tickets.PageIndex + 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="form__link @nextDisabled">
            Next
            </a>
        </div>
    </section>
    </div>
